body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
    line-height: 1.4;
    align-items: center;
}

.topnav {
  background-color: white;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.content {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:aqua;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  text-align: center;

}

#hero {
  text-align: center;
  }

#howItWorks {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  
}

#pricing {
  display: flex;
  box-sizing: border-box;
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;


}

.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(70% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}



.priceBanner {
  
  background-color: #DDD;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}


.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
}

#hero input[type='submit'] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}

p {
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:aqua;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  text-align: center;
}